<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<h2>Forgot Password</h2>
<form th:action="@{/forgot-password}" method="post">
    <div>
        <label>Username:</label>
        <label>
            <input type="text" name="username" />
        </label>
    </div>
    <div>
        <label>Name:</label>
        <label>
            <input type="text" name="name" />
        </label>
    </div>
    <div>
        <label>Email:</label>
        <label>
            <input type="email" name="email" />
        </label>
    </div>
    <div>
        <button type="submit">Reset Password</button>
    </div>
    <div th:if="${error}" th:text="${error}"></div>
    <div th:if="${message}" th:text="${message}"></div>
</form>
</body>
</html>
